import React from 'react'

function App() {
  return (
    <div style={ { fontFamily: 'system-ui', textAlign: 'center', marginTop: '50px' } }>
      <h1>Welcome to {{.ProjectName}}!</h1>
      <p>This is your blazing fast React + Vite app.</p>
    </div>
  )
}

export default App
