package cmd

import (
	"fmt"

	"github.com/charmbracelet/lipgloss"
	"github.com/spf13/cobra"
)

var (
	Version   = "0.1.0"
	Commit    = "none"
	BuildDate = "unknown"
)

var versionStyle = lipgloss.NewStyle().
	Bold(true).
	Foreground(lipgloss.Color("#50FA7B"))

var versionCmd = &cobra.Command{
	Use:   "version",
	Short: "Print the version of {{ .SafeName }}",
	Run: func(cmd *cobra.Command, args []string) {
		fmt.Printf("%s v%s (commit: %s, built: %s)\n",
			versionStyle.Render("{{ .SafeName }}"),
			Version,
			Commit,
			BuildDate,
		)
	},
}

func init() {
	rootCmd.AddCommand(versionCmd)
}
