# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, output & coverprofile
*.test
*.out
coverage.html

# Environment & Config
.env
.env.*
*.local
*.yaml
!example.yaml

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
