package config

import (
	"os"
)

type Config struct {
	Port    string
	AppEnv  string
	AppName string
}

func Load() *Config {
	port := os.Getenv("PORT")
	if port == "" {
		port = "8080"
	}

	appEnv := os.Getenv("APP_ENV")
	if appEnv == "" {
		appEnv = "development"
	}

	appName := os.Getenv("APP_NAME")
	if appName == "" {
		appName = "{{.ProjectName}}"
	}

	return &Config{
		Port:    port,
		AppEnv:  appEnv,
		AppName: appName,
	}
}
