package routes

import (
	"net/http"

	"{{.ModuleName}}/internal/handlers"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)

func SetupRouter(appEnv string) *echo.Echo {
	e := echo.New()
	e.HideBanner = true

	// Middlewares
	e.Use(middleware.Logger())
	e.Use(middleware.Recover())
	e.Use(middleware.CORSWithConfig(middleware.CORSConfig{
		AllowOrigins: []string{"*"},
		AllowMethods: []string{http.MethodGet, http.MethodPost, http.MethodPut, http.MethodPatch, http.MethodDelete, http.MethodOptions},
	}))

	// Base Routes
	e.GET("/", handlers.Welcome)
	e.GET("/health", handlers.HealthCheck)

	// API v1 Group
	v1 := e.Group("/api/v1")
	{
		v1.GET("/ping", func(c echo.Context) error {
			return c.JSON(http.StatusOK, map[string]string{"message": "pong"})
		})
	}

	return e
}
